{{>head}}
{{>header}}
{{#RequestList}}
<div class="row" style="margin-top:100px">
<div class = "col-md-4 col-md-offset-2">
		
		
		
		<div class ="col-md-4">
		<img src="{{imagepath}}" class="img-rounded" width="70" height ="70">
		</div>
		
		<h5 style="padding-left:100px;color:black;">{{name}}</h5>
		
		<h6 style="padding-left:100px;color:gray;"> {{city}}</h6>
		
		
		
		
		</div>
		
		<div class= "col-md-4 col-md-offset-2">
		<form action = "friendresponse">
		<input type="hidden" value="{{id}}" id="fid" name="fid">
		<input type="hidden" value="{{email}}" id="email" name="email">
		<button class="btn btn-info" name="response" value="accept">Accept</button>
		<button class="btn btn-info" name="response" value="reject">Reject</button>
		
		</form>
		</div>
		</div>
		{{/RequestList}}
{{footer}}
{{end}}