{{>head}}
{{>header}}
<div class = "row" style = "padding-top:90px ;background-color:black " >
	<div class = "col-md-8 col-md-offset-1">
		<form action="searchfriends" method= "post">
			 <input class ="form-group" type = "search" id="search" name="search" style="box-shadow: 0px 0px 10px 1px;" placeholder="Search By Username">
			<button type = "submit" class="btn btn-default" style="margin-top:0px!important; margin-left:5px;"><i class="glyphicon glyphicon-search" style = "color:black;"></button></i>
			
		</form>
		{{#if userfound}}
		
		<div style="padding-top:25px">
		<div class= "col-md-6">
		
		<div class ="col-md-4">
		<img src="{{#searchedUser}}{{imagepath}}{{/searchedUser}}" class="img-rounded" width="80" height ="80" >
		</div>
		<h5 style="padding-left:30px;color:white;">{{#searchedUser}}{{name}}{{/searchedUser}}</h5>
		
		<h6 style="padding-left:90px;color:gray;"> {{#searchedUser}}{{city}}{{/searchedUser}}</h6>
		
		
		</div>
		<div class= "col-md-4 col-md-offset-2">
		
			{{#if Friends}}
			<button class="btn btn-primary" disabled="disabled">Friend</button>
		
		
			{{else}}{{#if Requestsent}}
			<button class="btn btn-info" disabled="disabled">Request Sent...</button>
			{{else}}{{#if Requestpending}}
			<form action = "addfriend">
			<input type="hidden" value="{{#RequestList}}{{id}}{{/RequestList}}" id="fid" name="fid" >
			<button class="btn btn-info">Accept</button>
			<button class="btn btn-info">Reject</button>
			</form>
			{{else}}
			<form action = "addfriend">
			<input type="hidden" value="{{#searchedUser}}{{id}}{{/searchedUser}}" id="fid" name="fid">
			<button class="btn btn-primary">Add Friend</button>
			</form>
			{{/if}}
			{{/if}}
			{{/if}}
			</div>
			</div>
		
		{{else}}
		<div style="padding-top:20px">
		<div class= "col-md-4">
		<p>{{message}}</p>
		</div>
		</div>
		{{/if}}
	</div>
</div>
<hr>

		{{#RequestedList}}
		<div class="row" style="padding-top:20px">
		<div class = "col-md-5 col-md-offset-2">
		
		
		
		<div class ="col-md-4">
		<img src="{{imagepath}}" class="img-rounded" width="70" height ="70" style="box-shadow: 0px 0px 10px 1px;">
		</div>
		
		<h5 style="color:black;">{{name}}</h5>
		
		<h6 style="color:gray;"> {{city}}</h6>

		</div>
		
		<div class= "col-md-3 col-md-offset-2">
		<form action = "addfriend">
		<input type="hidden" value="{{#searchedUser}}{{id}}{{/searchedUser}}" id="fid" name="fid">
		
		<button class="btn btn-info" disabled="disabled">Request Sent...</button>
		
		</form>
		</div>
		</div>
		{{/RequestedList}}
		
		
<hr>
		
		{{#FriendsList}}
		<div class="row" style="padding-top:20px">
		<div class = "col-md-5 col-md-offset-2">
		
		
		<div class ="col-md-3">
		<img src="{{imagepath}}" class="img-rounded" width="70" height ="70" style="box-shadow: 0px 0px 10px 1px;">
		</div>
		<div class="col-md-9">
		<h4 style="color:black">{{name}}{{#if loggedIn}}<i class = "fa fa-circle" style="padding-left:5px; color:green;font-size:70% "></i>{{else}}
		<input type="hidden" class="lastLoggedInAt{{id}}" value="{{lastLoggedInAt}}">
		<small style="padding-left:10px"><label class="lastLoggedin{{id}}">{{lastLoggedInAt}}</label></small>
		
		
		{{/if}}</h4>
		<div class="col-md-2">
		<h5 style="color:black;"> {{city}}</h5>
		</div>
		</div>
		
		</div>
		<div class= "col-md-3 col-md-offset-2">
		
		
		<button class="btn btn-primary " disabled="disabled">Friend</button>
		
		
		</div>
		</div>
		{{/FriendsList}}
		
		
{{>footer}}

 <script>
 $(document).ready(function(){
 var now = moment();
 {{#FriendsList}}
 
 
	var lastlogin = $('.lastLoggedInAt{{id}}');	
	 var lastloginVal = moment($(lastlogin).val(),'ddd MMM DD HH:mm:ss IST yyyy');

var Days =  moment.duration(now - lastloginVal).days();
var Hours =  moment.duration(now - lastloginVal).hours();
var Minutes =  moment.duration(now - lastloginVal).minutes();
var Seconds =  moment.duration(now - lastloginVal).seconds();

if(Days!=0)
$('.lastLoggedin{{id}}').text(Days+"d ago");
if(Days>10)
$('.lastLoggedin{{id}}').text("a while ago");
else if(Hours!=0)
$('.lastLoggedin{{id}}').text(Hours+"h ago");
else if(Minutes!=0)
$('.lastLoggedin{{id}}').text(Minutes+"min ago");
else if(Seconds!=0)
$('.lastLoggedin{{id}}').text("Just now");
{{/FriendsList}}


	
 });
 </script>

{{>end}}	