
	<div class="container-full-width">
	{{#if login}}
		<nav class="navbar navbar-fixed-top"
			style="opacity: 0.8;background-color:{{bgcolor}};" data-spy="affix" data-offset-top="197">
	{{else}}
		
			<nav class="navbar navbar-fixed-top"
			style="opacity: 0.8;background-color:{{#loggedInUser}}{{bgcolor}}{{/loggedInUser}};" data-spy="affix" data-offset-top="197">
	{{/if}}
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
		</button>
				<a class="navbar-brand" href="#"><img src = "images/logo.jpg" width="50" height="50" ></a>
			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="/webProject1/#home">Home</a></li>
					<li><a href="/webProject1/#band">Band</a></li>
					<li><a href="/webProject1/#tour">Tour</a></li>
					<li><a href="/webProject1/#contact">Contact</a></li>
					
					
					
					{{#if login}}
						<input type = "hidden" name= "file" value="login">
					<li><a href="login">Login</a></li>
					
					{{else}}	
								
						<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#"><span><img src = "{{#loggedInUser}}{{imagepath}}{{/loggedInUser}}" width="30" height="25" class="img-rounded" style="margin-right:5px;"></span>{{#loggedInUser}}{{name}}{{/loggedInUser}}<i class="fa fa-circle" style="margin-left:5px;font-size:50%;color:green"></i> </a>
						{{/if}}
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="profile">View Profile</a></li>
							<li><a class="dropdown-item" href="notification">Notifications</a></li>
							<li><a class="dropdown-item" href="settings">Settings</a></li>					
							<li><a class="dropdown-item" href="friends">Your Friends</a></li>
							<li><a class="dropdown-item" href="friendrequest">Friend Requests</a></li>
							<li><a class="dropdown-item" href="points">Earn Points</a></li>
							<li><a class="dropdown-item" href="passengers?page=1&limit=5">Booking History</a></li>
							<li><a href="#" class="dropdown-item" onclick="logout()">Logout</a></li>
							
						</ul></li>
					<li style="margin-right: 15px"><a href="#"><i
							class="glyphicon glyphicon-search"></i></a></li>
							
				</ul>
			</div>
		</nav>
		</div>
