<div class="footer">
			<div class ="container" style="text-align:center;">
			
			<ul class="pagination">
			<p>{{#pager}}{{link}}{{/pager}}</p>
		{{#if prev}}
		<li class="page-item disabled"><span aria-hidden="true">&laquo;</span></li>
		{{else}}
		<li class="page-item">
		<a class="page-link" href="passengers?page={{#pages}}{{prevPage}}{{/pages}}&limit={{#pages}}{{limit}}{{/pages}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a></li>
		{{/if}}
			 
	 {{#pager}}
	<li class = "page-item"><a href="passengers?page={{link}}&limit={{limit}}">{{link}}</a></li>
	{{/pager}}
	
	 {{#if next}}
	<li class="page-item disabled"> <span aria-hidden="true">&raquo;</span></li>
	{{else}}
	<li class="page-item"> 
	<a class="page-link" href="passengers?page={{nextPage}}&limit={{limit}}" aria-label="Next">
	<span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span>
	</a></li>
	{{/if}}
      </ul>
</div>
</div>