
<div class="footer">
			<div class ="container" style="text-align:center;">
			
			<ul class="pagination">
		{{#if prev}}
		
		<li class="page-item">
		<a class="page-link" href="passengers?page={{prevPage}}&limit={{limit}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a></li>
		
		{{else}}
		<li class="page-item disabled"><span aria-hidden="true">&laquo;</span></li>
		{{/if}}
			
	 {{#pager}}
	
	
	<li class = "page-item-{{.}}"><a href="passengers?page={{.}}&limit={{limit}}">{{.}}</a></li>
		
	
	{{/pager}}
	
	{{#if next}}
	<li class="page-item"> 
	<a class="page-link" href="passengers?page={{nextPage}}&limit={{limit}}" aria-label="Next">
	<span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span>
	</a></li>
	
	{{else}}
	<li class="page-item disabled"> <span aria-hidden="true">&raquo;</span></li>
	{{/if}}
	
      </ul>
</div>
</div>