{{>head}}
{{>header}}
<div class="container">
	<h3  style="margin-top:100px;">Your Reservation History</h3>
		<table class="table table-bordered" id="myTable" style="margin-top:30px;">
	
	<tr>
		<th>Name</th>
		<th>Number of Tickets</th>
		<th>Travel date</th>
		<th>Time</th>
		<th>Travel place</th>
		<th>Email</th>
		<th>Total</th>
		<th>Actions</th>
	</tr>
	
	
	{{#passengerList}}
	
	<tr>
		<td>{{name}}</td>
		<td>{{tickets}}</td>
		<td>{{date}}</td>
		<td>{{time}}</td>
		<td>{{place}}</td>
		<td>{{email}}</td>
		<td>{{totalPay}}</td>	
		<td><a href="editpassenger" data-target="#myModal" style="margin-left:10px,margin-right:10px;">Edit </a><a href="deletepassenger"> Delete</a></td>
		<input type = "hidden" id="id" name="id" value={{id}}>
	</tr>
	{{/passengerList}}
	
	</table>
</div>
	{{>footer}}
	
	
{{>end}}