{{>head}}
{{>header}}
<div class="container-full-width" style="background-color:#F2F3F4">
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<h1  style="margin-top:100px;text-align:center;color:black" >Reservation History</h1>
		<table class="table table-hover table-striped" id="myTable" style="margin-top:30px;margin-bottom:30px;">
	
	<tr style="background-color:#c1c1c1" >
		<th>Name</th>
		<th>Number of Tickets</th>
		<th>Travel date</th>
		<th>Time</th>
		<th>Travel place</th>
		<th>Email</th>
		<th>Total</th>
		<th></th>
	</tr>
	
	<div class="tablerow">
	</div>
	{{#passengerList}}
	
	<tr class="content">
	
		<td>{{name}}</td>
		<td>{{tickets}}</td>
		<td class ="dateformat">{{date}}</td>
		<td class="timeformat">{{time}}</td>
		<td>{{place}}</td>
		<td>{{email}}</td>
		<td>{{totalPay}}</td>	
		<td>
			<a href="#" data-target="#editPassenger{{id}}" data-toggle="modal" style="margin-left:10px,margin-right:10px"> 	   <span class="glyphicon glyphicon-pencil" style = "color:black;margin-right:30px;margin-left:10px;"> 
				 </span> 
			</a>
			<a href="#" data-target="#delete{{id}}" data-toggle="modal" style="margin-left:10px,margin-right:10px;"> 
				<span class="glyphicon glyphicon-remove" style = "color:red;">
				</span>
			</a>
		</td>
		
	</tr>
	{{/passengerList}}
	
	</table>
</div>
</div>
<div class = "container">
{{#passengerList}}
<div class="modal fade" id="editPassenger{{id}}" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header" style="background-color: #323232;">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h1 class="modal-title text-center" style="font-size: 16">Tickets</h1>
							<br>
						</div>
						<div class="modal-body" style="background-color: white;">
							<br>
							<form action="bookpassenger" method="post">
							<input type="hidden" id= "pid" name="pid" value="{{id}}">
								<div class="form-group">
									<label for="text">Name</label> <input type="text"
										class="form-control" placeholder="Enter Name" name="name" value = "{{name}}">
								</div>
								<div class="form-group">
									<label for="text"> Tickets, $23 per person</label> <input
										type="number" class="form-control"  min="1" name="tickets" value = "{{tickets}}">
								</div>
								<div class="form-group">
									<label for="text"> Place</label> <input
										type="text" class="form-control" name="place" placeholder="Where do you want to go" value = "{{place}}">
								</div>
								
									<label for="text">Travel Date</label>
									<div class="form-group">
									<div class="col-sm-6">
									<div class="date_picker input-group date">
										<input type="text" id="date" name="date" class="form-control datepicker"
											placeholder="DD/MM/YYYY" > <span
											class="input-group-addon"> <span
											class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>								
									</div>
									<div class="col-sm-6">
									
									<div class="datetime_picker input-group date" >
										<input type="text"  id="time" name="time" class="form-control timepicker"
											placeholder="hh:mm" value = "{{time}}"> <span
											class="input-group-addon"> <span
											class="glyphicon glyphicon-time"></span>
										</span>
									</div>
								</div>
								
								</div>
								<div class="form-group input-append spinner"
									data-trigger="spinner">
									<label for="email">Send To</label> <input type="email"
										class="form-control " id="email" placeholder="Enter Email"
										name="email" value = "{{email}}">
								</div>
								<button type="submit" class="btn btn-block">Update</button>
							</form>
						</div>
						<div class="modal-footer">
							<p class="text-left">
								<button type="button" class="btn "
									style="background-color: black;" data-dismiss="modal">Cancel</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			{{/passengerList}}
			</div>
			{{#passengerList}}
			<div class = "container">
			<div class="modal fade" id="delete{{id}}" role="dialog">
				<div class="modal-dialog">

				
					<div class="modal-content">
					<div class="modal-header" style="background-color: #323232;">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h1 class="modal-title text-center" style="font-size: 16">Are You sure to delete this booking history?</h1>
							<br>
						</div>
						
						<div class="modal-footer">
							<form action="deletePassengers" method="post">
							<input type = "hidden" value = "{{id}}" name = "pid">
								<button type="submit" class="btn btn-block "
									style="background-color: black;">Yes</button>

							</form>

								<button type="button" class="btn btn-block "
									style="background-color: black;" data-dismiss="modal">No</button>

						</div>
					</div>
					</div>
					</div>
			
			</div>
			{{/passengerList}}
			{{>pager}}
	</div>
	{{>footer}}
	<script>
	
	$(document).ready(function(){			
	
	
	$('.dateformat').each(function(){
	var me = $(this);	
	$(me).text(moment($(me).text(),'ddd MMM DD HH:mm:ss IST yyyy').format('DD/MM/YYYY'));
	});
		
	
	$('.timeformat').each(function(){
	var time = $(this);	
	$(time).text(moment($(time).text(),'ddd MMM DD HH:mm:ss IST yyyy').format('LT'));
	});
	
	var formattedDate = "";

	{{#passengerList}}
	
	if('{{date}}' != "" && moment("{{date}}",'ddd MMM DD HH:mm:ss IST yyyy').isValid()){
	formattedDate = moment('{{date}}','ddd MMM DD HH:mm:ss IST yyyy').format('DD/MM/YYYY');
	}
	
	$("#editPassenger{{id}} ").find('.datepicker').val(formattedDate);
	{{/passengerList}}
	});
	</script>
{{>end}}