{{>head}}
{{>header}}

<p style="margin-top:80px">Welcome {{#loggedInUser}}{{name}}{{/loggedInUser}}</p>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

{{>footer}}

<script>

Highcharts.chart('container', {

    chart: {
        type: 'column'
    },

    title: {
        text: 'Monthly record of making new friends'
    },

    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
		
    },

    yAxis: {
        allowDecimals: false,
        min: 0,
        title: {
            text: 'Total Request '
        }
    },

    tooltip: {
        formatter: function () {
            return '<b>' + this.x + '</b><br/>' +
                this.series.name + ': ' + this.y + '<br/>' +
                'Total: ' + this.point.stackTotal;
        }
    },

    plotOptions: {
        column: {
            stacking: 'normal'
        }
    },

    series: [{
        name: '{{#iAccept}}{{name}}{{/iAccept}}',
        data: {{#iAccept}}{{data}}{{/iAccept}},
        stack: '{{#iAccept}}{{stack}}{{/iAccept}}'
    }, {
        name: '{{#iReject}}{{name}}{{/iReject}}',
        data: {{#iReject}}{{data}}{{/iReject}},
        stack: '{{#iReject}}{{stack}}{{/iReject}}'
    }, {
        name: '{{#iUnresponded}}{{name}}{{/iUnresponded}}',
        data: {{#iUnresponded}}{{data}}{{/iUnresponded}},
        stack: '{{#iUnresponded}}{{stack}}{{/iUnresponded}}'
    }, {
       name: '{{#oAccept}}{{name}}{{/oAccept}}',
        data: {{#oAccept}}{{data}}{{/oAccept}},
        stack: '{{#oAccept}}{{stack}}{{/oAccept}}'
    }, {
        name: '{{#oReject}}{{name}}{{/oReject}}',
        data: {{#oReject}}{{data}}{{/oReject}},
        stack: '{{#oReject}}{{stack}}{{/oReject}}'
    },{
        name: '{{#oUnresponded}}{{name}}{{/oUnresponded}}',
        data: {{#oUnresponded}}{{data}}{{/oUnresponded}},
        stack: '{{#oUnresponded}}{{stack}}{{/oUnresponded}}'
    }
	]
});
</script>

{{>end}}